<!-- app/views/static_pages/home.html.erb -->
<body data-turbo="false">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" data-turbo="false">
      <ul class="navbar-nav mr-auto" data-turbo="false">
        <li class="nav-item active" data-turbo="false">
          <a class="nav-link" href="/team">l'équipe <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" data-turbo="false">
          <a class="nav-link" href="/contact">nous contacter</a>
        </li>
        <li class="nav-item" data-turbo="false">
          <a class="nav-link" href="/gossips/new">écrire un gossip</a>
        </li>
        <% if session[:user_id] %>
        <li class="nav-item dropdown"data-turbo="false">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mon compte
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAccount"data-turbo="false">
            <%= link_to 'Mon Compte', edit_user_path(session[:user_id]), class: 'dropdown-item' %>  
            <%= link_to 'Déconnexion', logout_path, method: :delete, class: 'dropdown-item' %>
          </ul>
        </li>
      <% else %>
        <li class="nav-item dropdown"data-turbo="false">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLogin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Compte
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLogin"data-turbo="false">
            <%= link_to 'Connexion', login_path, class: 'dropdown-item' %>
            <%= link_to "S'inscrire", new_user_path, class: 'dropdown-item' %>
          </ul>
        </li>
        <% end %>
    </div>
  </nav>
  <div class="container">
    <%if session[:user_id] && User.find_by(id: session[:user_id]) != nil%>
      <% if User.find_by(id: session[:user_id]).first_name != nil %>
        <h1 class="text-center mt-5"> Bienvenue <%= User.find_by(id: session[:user_id]).first_name %> ! </h1>
      <% else %>
        <h1 class="text-center mt-5">Bienvenue sur notre site !</h1>
      <%end%>
    <% else %>
    <h1 class="text-center mt-5">Bienvenue sur notre site !</h1>
    <% end %>
    <p class="text-muted text-center">Ceci est la page d'accueil de notre application.</p>
  </div>
  <ul>
      <div class="container">
          <div class="row">
              <% @gossips.each do |gossip| %>
                  <div class="col-md-4">
                      <div class="card gossip-card" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title"><strong>Auteur :</strong></h5>
                              <h6 class="card-subtitle mb-2 text-muted"><%= gossip.user.first_name %></h6>
                              <p class="card-text"><strong>Title :</strong> <%= link_to gossip.title, gossip_path(gossip) %></p>
                              <p class="card-text"> Nombre de commentaires : <%= gossip.comments.count %> </p>
                          </div>
                      </div>
                  </div>
              <% end %>
          </div>
      </div>
  </ul>
</div>
</body>