<body data-turbo="false">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/team">l'équipe <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">nous contacter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gossips/new">écrire un gossip</a>
        </li>
        <li class="nav-item">
          <%= link_to "S'inscrire", new_user_path, class: 'nav-link' %>
        </li>
    </div>
  </nav>
<%= form_with(model: @user, url: users_path, local: true) do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
  
    <%= form.submit "S'inscrire" %>
<% end %>