<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/team">l'équipe <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">nous contacter</a>
      </li>
  </div>
</nav>
<h1>Profil de l'utilisateur</h1>
<div>
  <p><strong>Nom :</strong> <%= @user.last_name %></p>
  <p><strong>Prénom :</strong> <%= @user.first_name %></p>
  <p><strong>Email :</strong> <%= @user.email %></p>
  <!-- Ajoutez d'autres informations que vous souhaitez afficher sur l'utilisateur -->
</div>
<h2>Potins de <%= @user.first_name %></h2>
<ul>
  <% @user.gossips.each do |gossip| %>
    <li>
    <%= link_to gossip.title, gossip_path(gossip) %>
      <p><%= gossip.content %></p>
    </li>
  <% end %>
</ul>