<!-- app/views/gossips/show.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/team">l'équipe <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">nous contacter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gossips/new">écrire un gossip</a>
      </li>
  </div>
</nav>
<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<%= link_to 'Éditer ce potin', edit_gossip_path(@gossip), class: 'btn btn-secondary' %>
<%= button_to 'Supprimer ce potin', gossip_path(@gossip), method: :delete, data: { turbo_method: :delete, confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-danger' %>
<p>Auteur : <%= link_to @gossip.user&.first_name || "Anonyme", user_path(@gossip.user) if @gossip.user %></p>
<p><%= link_to 'Voir la ville', city_path(@gossip.user&.city) if @gossip.user&.city %></p>
<p>Publié le : <%= @gossip.created_at.strftime("%d/%m/%Y à %H:%M") %></p>
<%= form_with(model: [ @gossip, @gossip.comments.build ], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :content, 'Votre commentaire' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>
  <%= form.submit 'Commenter', class: 'btn btn-primary' %>
<% end %>
<% if @gossip.comments.exists? %>
  <h3>Commentaires :</h3>
  <ul>
    <% @gossip.comments.each do |comment| %>
          <% if comment.persisted? %>
            <li>
            <p><%= comment.content %></p>
            <p>Auteur : <%= comment.user&.first_name %></p>
            <%= link_to 'Éditer', edit_gossip_comment_path(comment.gossip, comment), class: 'btn btn-secondary' %>
          <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun commentaire pour le moment.</p>
<% end %>